h1, h3 {
	font-family: 'Roboto Mono', monospace;
}

h3{
	color:#FFFFFF;
}

img:hover{
	opacity:0.5;
}

#visit:hover{
	color:#55B95D;
}

#green{
	color:#78D989;
}

#white{
	color:#FFFFFF;
}

#red{
	color:#C76D6F;
}

#cyan{
	color:#68C0D3;
}

#white{
	color:#FFFFFF;
}

#orange{
	color:#D7B670;
}

#work{
  position: absolute;
  padding:20px;
  color:#FFFFFF;
}

:host {
  display: block;
}

.list {
  padding: 0;
  height:auto;
  overflow:hidden;
}

.list-panel{
  background-color:#2C3945;
}

.list paper-item {
  height: 100%;
  background-color:#2C3945;
  padding:0;
  overflow:hidden;
}

.main-panel[mode=cover] .content {
  padding: auto;
}

.main-panel {
  --paper-header-panel-cover-container: {
    left: 64px;
  };
}

.main-panel[mode=cover] paper-material {
  max-width: 640px;
  margin: 64px auto;
}

.note{
	text-align: center;
	padding:20px;
	font-size:18px;
}

paper-material {
  height: auto;
  background-color: #2c2e3a;
}

paper-material.padding{
	padding-top:1px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
}

iron-image{
	transition: all .2s ease-in-out;
	transition: opacity:1;
}

iron-image:hover{
	opacity:0.5;
	-webkit-filter: blur(3px);
}

paper-card{
  background-color: #2C3945;
  --paper-card-header-color: #75DD7E;
  left:2%;
  top: 20px;
  width:300px;
  height: 350px;
  overflow:hidden;
  font-family: 'Roboto Mono', monospace;
}

paper-toolbar{
	background-color:#424657;
}
